@activepieces:registry=https://registry.npmjs.org/
@veritly:registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
legacy-peer-deps=true
save-exact=true
